body {
  background: linear-gradient(to bottom, #4e4747, #0f0f10);
  
}

.gradiente {
  background: linear-gradient(to right, #8e20a9, #ff6600, #0000ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  text-align: center;}

h1 {
color: aqua;
}
p {
  color: #ffffff; /* Definir a cor do texto para que seja legível */
  text-align: center;
  padding: 20px;
}
header {
  background-image: url("55.jpg");
  background-attachment: fixed; /* Fixa a imagem */
  background-position: center; /* Posiciona a imagem no centro */
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  background-size: cover; /* Cobrir todo o cabeçalho */
  padding: 20px;
  text-align: center;
}

header h1 {
  margin-top: 10px;
  color: #ffffff; /* Define a cor do texto para legibilidade */
}

header::after {
  content: "";
  background-image: url("55.jpg");
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  image-rendering: -webkit-optimize-contrast; /* Ajusta a renderização da imagem */
  image-rendering: crisp-edges; /* Ajusta a renderização da imagem */
  image-rendering: pixelated; /* Ajusta a renderização da imagem */
}
.gif {
  position: absolute;
  top: 0;
  right: 0;
}
.botao {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background:linear-gradient(to right, #d62e2e, #fa0404 );
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
}

.botao:hover {
  background: linear-gradient(to right, #0000ff, #00ff00, #ff0000);
}
.botao:active {
font-size: 10px;
}
.botao1 {
  position: fixed;
  top: 20px;
  left: 110px;
  padding: 10px 20px;
  background:linear-gradient(to right, #d62e2e, #fa0404 );
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
}

.botao1:hover {
  background: linear-gradient(to right, #0000ff, #00ff00, #ff0000);
}
.botao1:active {
  font-size: 10px;
}
header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

.video-container {
  text-align: center;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: inline-block;
  margin: 10px;
}


table td {
  padding: 10px;
}
